mixin breadcrumbs (breadcrumbItems)
    section.breadcrumbs 
        .container
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    each item in breadcrumbItems
                        li.breadcrumb__item 
                            a.breadcrumb__link(href="#")=item

mixin pagination (totalPage)
    nav(aria-label='Page navigation example')
        ul.pagination
            li.page-item
                a.page-link(href='#' aria-label='Previous')
                    span(aria-hidden='true') &laquo;
            each _, index in [...Array(totalPage)] 
                li.page-item 
                    a.page-link(href="#")=index + 1
            li.page-item
                a.page-link(href='#' aria-label='Next')
                    span(aria-hidden='true') &raquo;

mixin title (title, level = 2)
    #{'h' + level}(class = 'title')=title

mixin subtitle (subtitle, level = 2)
    #{'h' + level}(class = 'subtitle')=subtitle

mixin rating (rate = 5)
    -const stars = [...Array(5)].map((_, index) => index < rate ? 'fa fa-star' : 'fa fa-star-half')
    each star in stars 
        i(class=star)
