extends ../base/layout.pug

block title 
    title Order || Wine shop 
block content
    main 
        +breadcrumbs(orderBreadcrumbs)
        section.order.mb-5
            .container
                +subtitle("Đơn hàng")
                .row.mt-5
                    .col-lg-8.order__content
                        .order__top.p-5
                            .subheading.mb-3 Danh sách đơn hàng 
                            .order__table
                                each item in infoOrder  
                                    span.desc.order__desc=item
                        table.table.bg-light.text-center.px-5.mb-0
                            thead.table__thead 
                                tr.table__thead-tr
                                    each item in orderTableTitle
                                        th.table__title=item
                            tbody.table__tbody 
                                each item in orderTableItem 
                                    tr.table__tr 
                                        td.table__td.order__td(data-title="STT")=item.stt
                                        td.table__td.order__td(data-title="Mã hóa đơn/ngày mua hàng")
                                            p=`${item.name} - ${item.date}`
                                            span=item.time
                                        td.table__td.order__td(data-title="Kho nhận hàng")=item.stock 
                                        td.table__td.order__td(data-title="Số sp")=item.amount 
                                        td.table__td.order__td(data-title="Tổng tiền")=item.totalMoney
                                        td.table__td.order__td.text-capitalize(data-title="Tình trạng")=item.status
                                        td.table__td.order__td.text-capitalize(data-title="Thao tác") 
                                            a(href="") Chi tiết 
                    .col-lg-3
                        .order__info
                            .subheading Thông tin khách hàng
                            ul.mb-3
                                li
                                    i.fa.fa-user 
                                    span.desc.ps-2 GiangLe 
                                        p Leanhgiang2000@gmail.com
                                li
                                    i.fa.fa-location-arrow 
                                    span.desc.ps-2 Tòa nhà Hà Nội group 
                                        p 422 Đội Cấn,Ba Đình, Hà Nội
                                li 
                                    i.fa.fa-phone 
                                    span.desc.ps-2 (04) 3786 8904
                            a.address__link(href="") Chi tiết địa chỉ
